<div class="title-container">
    <span style="color: primary; font-size: 36px; font-weight: 700;">Flavor-Xplorer</span>
    <img src="assets/icon.jpg" alt="">
</div>
<div class="subtitle-container">Ne plac curvele!</div>

<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div *ngIf="submissionType === 'join'">
        <div class="field">
            <label for="firstName">First name</label>
            <input #firstNameInput="ngModel" ngModel type="text" name="firstName" required class="form-control">
            <span class="error" *ngIf="!firstNameInput.valid && firstNameInput.touched">
                Please enter your first name.
            </span>
        </div>
    
        <div class="field">
            <label for="lastName">Last name</label>
            <input #lastNameInput="ngModel" ngModel type="text" name="lastName" required class="form-control">
            <span class="error" *ngIf="!lastNameInput.valid && lastNameInput.touched">
                Please enter your last name.
            </span>
        </div>
    </div>
    

    <div class="field">
        <label class="input-label" for="email">Email</label>
        <input #emailInput="ngModel" ngModel type="email" name="email" required class="form-control" >
        <span class="error" *ngIf="!emailInput.valid && emailInput.touched">
            Please enter your email address.
        </span>
    </div>

    <div class="field">
        <label for="password">Password</label>
        <input #passwordInput="ngModel" ngModel type="password" name="password" required class="form-control">
        <span class="error" *ngIf="!passwordInput.valid && passwordInput.touched">
            Please enter your password.
        </span>
    </div>

    <p *ngIf="submissionType === 'join'" class="terms-and-conditions">
        By clicking Agree, you agree to the Flavor-Xplorer
        <span style="color: primary;">User Agreement</span>,
        <span style="color: primary;">Privacy Policy</span>, and
        <span style="color: primary;">Cookie Policy</span>.
    </p>

    <button [disabled]="!form.valid" type="submit">
        {{ submissionType === 'login' ? 'Sign in' : 'Agree' }}
    </button>
</form>

<div class="toggle-text">
    <a (click)="toggleText()">
        <span class="toggle-auth-mode" style="color: primary;">
            {{ submissionType === 'login' ? 'New to Flavor-Xplorer? Join now' : 'Already on Flavor-Xplorer? Sign in' }}
        </span>
    </a>
    
</div>
