<div class="post">
  <img
    *ngIf="post.images.length > 0; else placeholder"
    [src]="post.images[0]"
    alt="Post Image"
    class="post-image"
  />
  <ng-template #placeholder>
    <img
      src="../../../assets/aaa.jpg"
      alt="Placeholder"
      class="placeholder-image"
    />
  </ng-template>
  <div class="post-content">
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="rating-container">
      <p class="rating">
        Rating: {{ post.rating_mean }} ({{ post.rating_count }} votes)
      </p>
    </div>
    <button *ngIf="showSaveButton" class="save-button" (click)="savePost()">
      Save
    </button>
    <button *ngIf="showDeleteButton" class="delete-button" (click)="deletePost()">
      Delete
    </button>
  </div>
</div>
