<!--&lt;!&ndash; post.component.html &ndash;&gt;-->

<!--<div class="post" *ngIf="post">-->
<!--  <h2>{{ post.title }}</h2>-->
<!--  <p>Ingredients: {{ post.ingredients }}</p>-->
<!--  <p>Instructions: {{ post.instructions }}</p>-->
<!--  <p>Cooking Time: {{ post.cooking_time }} minutes</p>-->
<!--  <p>Servings: {{ post.servings }}</p>-->

<!--  <p>Created At: {{ post.created_at | date:'medium' }}</p>-->
<!--  <p>Last Updated At: {{ post.updated_at | date:'medium' }}</p>-->

<!--  <div *ngIf="post.rating_mean || post.rating_count">-->
<!--    <p>Rating: {{ post.rating_mean }} ({{ post.rating_count }} votes)</p>-->
<!--  </div>-->

<!--  <div *ngIf="post.images.length > 0">-->
<!--    <h3>Images:</h3>-->
<!--    <div *ngFor="let image of post.images">-->
<!--      <img [src]="image" alt="Post Image" />-->
<!--    </div>-->
<!--  </div>-->

<!--  <div *ngIf="post.videos.length > 0">-->
<!--    <h3>Videos:</h3>-->
<!--    <div *ngFor="let video of post.videos">-->
<!--      &lt;!&ndash; Embed your video player here, e.g., using an iframe &ndash;&gt;-->
<!--      <iframe [src]="video" width="560" height="315" frameborder="0" allowfullscreen></iframe>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- post.component.html -->

<!-- post.component.html -->

<div class="post">
  <img *ngIf="post.images.length > 0; else placeholder" [src]="post.images[0]" alt="Post Image" class="post-image" />
  <ng-template #placeholder>
    <img src="../../../assets/aaa.jpg" alt="Placeholder" class="placeholder-image" />
  </ng-template>
  <h2 class="post-title">{{ post.title }}</h2>
  <div class="rating-container">
    <p class="rating">Rating: {{ post.rating_mean }} ({{ post.rating_count }} votes)</p>
  </div>
</div>
