<app-navbar></app-navbar>
<body>
  <div class="profile">
    <img
      class="avatar"
      src="https://via.placeholder.com/100"
      alt="User Avatar"
    />
    <div class="buttons">
      <button
        *ngIf="currentUserId !== targetUserId"
        (click)="onFollowClick()"
        class="follow-btn"
      >
        Follow
      </button>
      <button
        *ngIf="currentUserId !== targetUserId"
        (click)="onUnFollowClick()"
        class="unfollow-btn"
      >
        Unfollow
      </button>
      <button
        *ngIf="currentUserId === targetUserId"
        (click)="openEditProfileModal()"
        class="edit-profile-btn"
      >
        Edit Profile
      </button>
    </div>
    <div class="user-details">
      <h3>{{ user.first_name }}</h3>
      <h2>{{ user.last_name }}</h2>
      <p>Gender: {{ user.gender }}</p>
      <p>Followers: {{ followersNumber }}</p>
      <p>Following: {{ followingNumber }}</p>
    </div>
  </div>

  <div class="post-grid">
    <div class="post-list">
      <div *ngFor="let post of userPosts" class="post-item">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
</body>
