<app-navbar></app-navbar>

<body>
  <div class="profile">
    <img class="avatar" src="https://via.placeholder.com/100" alt="User Avatar" />
    <div *ngIf="currentUserId !== targetUserId" class="buttons">
      <button (click)="onFollowClick()" class="follow-btn">Follow</button>
      <button (click)="onUnFollowClick()" class="unfollow-btn">Unfollow</button>

    </div>
    <div class="user-details">
      <h3>{{ user.first_name }}</h3>
      <h2>{{ user.last_name }}</h2>
      <p>Gender: {{ user.gender }}</p>
      <p>Followers: {{ followersNumber }}</p>
      <p>Following: {{ followingNumber }}</p>
      <button class="logout" (click)="logout()">Log out</button>
      <button (click)="goToBookmarks()" class="bookmark-btn">Bookmarks</button>
    </div>


  </div>

  <div class="post-grid">
    <div class="post-list">
      <div *ngFor="let post of userPosts" class="post-item">
        <app-post [post]="post" [showSaveButton]="false"></app-post>
      </div>
    </div>
  </div>
</body>